ul,
li,
h2,
p,
H3 {
  padding: 0;
  margin: 0;
}
div {
  overflow: hidden;
}
p {
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
i {
  font-size: 42px;
}
h2 {
  letter-spacing: 5px;
}
.spacing-m {
  letter-spacing: 10px;
}
.spacing-s {
  letter-spacing: 5px;
}
.spacing-ss {
  letter-spacing: 1px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.forward {
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes bgchange {
  from {
    background: #a0a0b4;
    border: 5px solid white;
  }
  to {
    background: white;
    border: 5px solid #c0c0c0;
  }
}
@-webkit-keyframes myAbout {
  from {
    background: #a0a0b4;
    border: 5px solid white;
  }
  to {
    background: white;
    border: 5px solid #c0c0c0;
  }
}
@-moz-keyframes myAbout {
  from {
    background: #a0a0b4;
    border: 5px solid white;
  }
  to {
    background: white;
    border: 5px solid #c0c0c0;
  }
}
/*文字弹入动画*/
@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rollIn0 {
  animation: rollIn 2s ease-in-out 0s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 0s 1 alternate forwards;
}
.rollIn1 {
  animation: rollIn 2s ease-in-out 2s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 1s 1 alternate forwards;
}
.rollIn2 {
  animation: rollIn 2s ease-in-out 4s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 2s 1 alternate forwards;
}
.rollIn3 {
  animation: rollIn 2s ease-in-out 6s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 3s 1 alternate forwards;
}
.rollIn4 {
  animation: rollIn 2s ease-in-out 8s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 4s 1 alternate forwards;
}
.rollIn5 {
  animation: rollIn 2s ease-in-out 10s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 5s 1 alternate forwards;
}
.rollIn6 {
  animation: rollIn 2s ease-in-out 12s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 6s 1 alternate forwards;
}
.rollIn7 {
  animation: rollIn 2s ease-in-out 14s 1 alternate forwards;
  -webkit-animation: rollIn 2s ease-in-out 7s 1 alternate forwards;
}
/*标题动画*/
.a-swing {
  -webkit-animation: swing 1s ease-in forwards;
  -moz-animation: swing 1s ease-in forwards;
  animation: swing 1s ease-in forwards;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(15deg);
  }
  40% {
    -moz-transform: rotate(-10deg);
  }
  60% {
    -moz-transform: rotate(5deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes swing {
  20% {
    -ms-transform: rotate(15deg);
  }
  40% {
    -ms-transform: rotate(-10deg);
  }
  60% {
    -ms-transform: rotate(5deg);
  }
  80% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0);
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*文字弹入动画*/
.a-rotateoutLT {
  -webkit-animation: rotateinLT 1s ease-in forwards;
  -moz-animation: rotateinLT 1s ease-in forwards;
  animation: rotateinLT 1s ease-in forwards;
}
@-webkit-keyframes rotateinLT {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateinLT {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateinLT {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateinLT {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
/*线动画*/
.hr-animation {
  width: 100px;
  animation: moveTo 4s ease-in-out 0s 1 alternate forwards;
  -webkit-animation: moveTo 4s ease-in-out 0s 1 alternate forwards;
}
@keyframes moveTo {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@-webkit-keyframes moveTo {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@-moz-keyframes moveTo {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
/*轮子动画*/
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*快递图片右边进入动画*/
@keyframes toRight {
  from {
    padding-left: 2000px;
  }
  to {
    padding-left: 0;
  }
}
@-webkit-keyframes toRight {
  from {
    padding-left: 2000px;
  }
  to {
    padding-left: 0;
  }
}
@-moz-keyframes toRight {
  from {
    padding-left: 2000px;
  }
  to {
    padding-left: 0;
  }
}
/*抖动动画*/
@keyframes toTop {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 5px;
  }
}
@-webkit-keyframes toTop {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 5px;
  }
}
@-moz-keyframes toTop {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 5px;
  }
}
/*共用类*/
header {
  background: url("../img/head.jpg") center no-repeat;
  width: 100%;
  height: 700px;
}
header .nav {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
}
header .nav li {
  display: inline-block;
  font-size: 20px;
  padding: 30px;
}
header .nav a {
  color: white;
}
header .nav a:hover {
  color: red;
}
header .nav .myName {
  margin-right: 30%;
  color: white;
  font-size: 40px;
}
header .nav .myName span {
  color: red;
}
header .nav-content {
  color: white;
  width: 60%;
  margin: 100px auto;
}
header .nav-text {
  width: 50%;
  float: left;
  text-align: left;
}
header .phonto-box {
  width: 50%;
  float: left;
  text-align: center;
}
header .my-phomto {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url("../img/cat.jpg") center no-repeat;
  background-size: 200px 200px ;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 15px #838383;
  -moz-box-shadow: 0 0 15px #838383;
  box-shadow: 0 0 15px #838383;
}
header .my-phomto:hover {
  -webkit-box-shadow: 0 0 15px #f3f3f3;
  -moz-box-shadow: 0 0 15px #f3f3f3;
  box-shadow: 0 0 15px #f3f3f3;
}
hr {
  display: inline-block;
  height: 2px;
  background: black;
  border: none;
}
.icon-wode {
  margin: 0 20px;
}
.me {
  background: #eeeeee;
  padding: 50px 0 ;
}
.me-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.about {
  background: #eeeeee;
}
.about-me .me-title {
  width: 40%;
  text-align: center;
  margin: 50px auto;
}
.about-myinfo {
  background: #a0a0b4;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  margin: 100px auto 100px;
  text-align: center;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}
.about-list {
  display: inline-block;
  height: 150px;
}
.list-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 5px solid white;
  border-radius: 45px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.list-icon .iconfont {
  color: black;
}
.list-icon:hover {
  animation: bgchange 1s;
  -webkit-animation: bgchange 1s;
  -moz-animation: bgchange 1s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-box-shadow: 0 0 10px #c0c0c0;
  -moz-box-shadow: 0 0 10px #c0c0c0;
  box-shadow: 0 0 10px #c0c0c0;
}
.iconfont {
  font-size: 40px;
}
.list-info {
  color: white;
  font-size: 20px;
  padding: 20px 0 ;
}
.list-info span {
  margin: 0 5px;
}
.about_info {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
h2 {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
}
.center {
  text-align: center;
}
.skills {
  background: #28282e;
  padding: 50px 0 ;
  color: #f6f6f7;
}
.learning-skills {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.learning-skills h4 {
  font-size: 40px;
  text-align: center;
}
.learning-skills .learning-title {
  margin: 40px 0;
  font-size: 40px;
  letter-spacing: 10px;
}
.learning-skills .learning-box {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.learning-skills .learning-box .vue-img,
.learning-skills .learning-box .node-img {
  width: 50%;
}
.learning-skills .learning-box .nodejs,
.learning-skills .learning-box .vuejs {
  width: 40%;
  height: 100%;
}
.learning-skills .learning-box .nodejs p,
.learning-skills .learning-box .vuejs p {
  text-align: left;
}
.learning-skills .future {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.learning-skills .php,
.learning-skills .mysql,
.learning-skills .angular {
  width: 30%;
}
.learning-skills .php p,
.learning-skills .mysql p,
.learning-skills .angular p {
  text-align: left;
}
.learning-skills .php-img,
.learning-skills .mysql-img,
.learning-skills .angular-img {
  width: 50%;
}
.skills-text {
  width: 40%;
  margin: 0 auto;
  text-align: left;
  padding: 50px 0;
}
.skills-text p {
  margin: 20px 0;
  opacity: 0;
  text-align: center;
}
#hr3,
#hr4 {
  background: #fff;
}
.work {
  overflow: hidden;
  padding: 50px 0;
  background: #eeeeee;
}
.work-content h3 {
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
}
.work-content .school-box {
  overflow: visible;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 50px auto;
}
.work-content .school-info,
.work-content .kuaidi-animation {
  width: 45%;
  overflow: visible;
}
.work-content .school-info {
  overflow: visible;
  padding: 200px 0 0 0;
}
.work-content .kuaidi {
  overflow: visible;
  -webkit-animation: toRight 1.5s ease-in-out 0s alternate forwards;
  -o-animation: toRight 1.5s ease-in-out 0s alternate forwards;
  animation: toRight 1.5s ease-in-out 0s alternate forwards;
}
.work-content .kuaidi-box {
  overflow: visible;
  position: relative;
  width: 1000px;
  height: 400px;
  display: inline-block;
}
.work-content .kuaidi1 {
  overflow: visible;
  position: relative;
  left: 1000px;
}
.work-content #kdimg {
  position: absolute;
  z-index: 111;
  left: 0;
}
.work-content .lz {
  position: absolute;
  -webkit-animation: rotate 1s linear infinite;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.work-content #lz1 {
  top: 250px;
  left: 0;
}
.work-content #lz2 {
  top: 250px;
  left: 200px;
}
.work-content .one-job {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 50px auto;
}
.work-content .one-job .job-info {
  padding: 100px 0 0 0 ;
}
.work-content .one-job .job-info,
.work-content .one-job .job-img {
  width: 40%;
}
.work-content .one-job .job-img img {
  width: 60%;
  margin: 0 auto;
}
.work-content .two-jon {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 50px auto;
}
.work-content .two-jon .job-info {
  padding: 100px 0 0 0;
}
.work-content .two-jon .job-info,
.work-content .two-jon .job-img {
  width: 40%;
}
.work-content .two-jon .job-img img {
  width: 60%;
}
.portfolio {
  padding: 50px;
  background: url("../img/background.jpg") center no-repeat;
  background-size: 100% 100%;
}
.portfolio-content {
  width: 100%;
  margin: 0 auto;
}
.portfolio-content .portfolio-main {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
  width: 80%;
  margin: 50px auto;
}
.title-head {
  color: #fff;
}
#hr7 {
  background: #fff;
}
#hr8 {
  background: #fff;
}
.portfolio-list {
  display: block;
  text-align: center;
  padding: 100px 0;
}
.portfolio-list li {
  display: inline-block;
  border: 2px solid #fff;
  padding: 11px 13px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 6px;
  cursor: pointer;
}
.portfolio-list li:hover {
  background: #70bdae;
}
.box1 {
  float: left;
  width: 300px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
}
.box1-1 {
  opacity: 0;
}
.box1:hover .box1-1 {
  height: 200px;
  background: rgba(112, 189, 174, 0.7);
  -webkit-animation: height 1s ease-in-out 0s 1 alternate forwards;
}
.box1:hover .box1-1 .info {
  -webkit-animation: top 2s ease-in-out 0s 1 alternate forwards;
}
@-webkit-keyframes top {
  from {
    margin-top: -200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes height {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 300px;
    opacity: 1;
  }
}
.pp {
  display: inline-block;
  height: 0;
}
.btn {
  width: 100px;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}
.info h3 {
  text-align: center;
  padding: 50px 0;
}
h1 {
  text-align: center;
  font-size: 40px;
}
.web {
  background: #eeeeee;
}
.social {
  padding: 50px 0;
}
.social p {
  font-size: 20px;
  margin: 20px 0;
}
.social a {
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: green;
  margin: 50px;
}
.social i {
  font-size: 30px;
  line-height: 60px;
  color: white;
}
.social .orcode {
  width: 10%;
}
